{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/Posts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/CircularNavigation/css/component1.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/CircularNavigation/css/demo.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/CircularNavigation/css/normalize.css' %}"/>
<script src="/static/socialcircle/CircularNavigation/js/modernizr-2.6.2.min.js"></script>

<body>
<div class="container">
    <section id="left">
        <div class="sidebar pure-u-1 pure-u-md-1-4" >

            <div class="dash-home">
                <form  method="POST">
                    {% csrf_token %}
                    <input type="image" src="/static/socialcircle/images/profile.png" name="profile" value="Profile" style="width: 48px;height: 48px;">
                    <input type="image" src="/static/socialcircle/images/logout.png" name="logout" value="Logout" style="width: 48px;height: 48px;">
                </form>
            </div>

            <center>
                    <a href="{% url 'socialcircle:profile' scuser_id=user.pk %}">
                        <img src="/static/socialcircle/images/unknow_user_small.jpg" class="circular"
                             style="width: 220px;height: 220px;cursor: hand">
                    </a>
                <label class="name_style">{{scuser.first_name | capfirst }} {{scuser.last_name | capfirst }}</label><br>

                <label class="name_style" style="font-size: 10px">Insert possible friends here</label>
            </center>

        </div>
    </section>
    <div class="content">
        <div id="posts">
            {% for p,u in post %}
                <div class="post">
			        <div class="entry">
				        <div style="margin-bottom: -3px;">
					        <div class="quote">
                                <a href="{% url 'socialcircle:profile' scuser_id=u.pk %}">{{ u.username }}</a><br><br>
						        {{ p.content }}<br>
                                <br>
					        </div>
				        </div>
                        <div class="options">
                            <form  method="POST">
                                {% csrf_token %}
                                    {% if p.id in post_liked %}
                                        <input type="image" src="/static/socialcircle/images/unlike.png" name="unlike_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                    {% else %}
                                        <input type="image" src="/static/socialcircle/images/like.png" name="like_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                    {% endif %}
                                    <input type="image" src="/static/socialcircle/images/sh.png" name="share" value="Share" style="width: 15px;height: 15px;">
                            </form>

                        </div>
			        </div>
                    <div class="stats">
                        {{ p.post_date }}
                    </div>
		        </div>
            {% endfor %}
        </div>
    </div>
    <div class="component">
            <!-- Start Nav Structure -->
            <button class="cn-button" id="cn-button">+</button>
                <div class="cn-wrapper" id="cn-wrapper">
                    <form method="POST">
                     {% csrf_token %}
                    <ul>
                        <li><a><span><img src="/static/socialcircle/images/chat_small.png"></span></a></li>
                        <li><a><span><img src="/static/socialcircle/images/video_small.png"></span></a></li>
                        <li><a><span><img src="/static/socialcircle/images/text_small.png"></span></a></li>
                        <li><a><span><img src="/static/socialcircle/images/camera_small.png"></span></a></li>
                        <li><a><span><input type="image" src="/static/socialcircle/images/logout_small.png"
                            name="logout_menu" value="logout_menu"></span></a></li>
                    </ul>
                    </form>
                </div>
            <div id="cn-overlay" class="cn-overlay"></div>
                        <!-- End Nav Structure -->
    </div>
</div>
    <script src="/static/socialcircle/CircularNavigation/js/polyfills.js"></script>
    <script src="/static/socialcircle/CircularNavigation/js/demo1.js"></script>
</body>