{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/popup.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/Posts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/CircularNavigation/css/component1.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/CircularNavigation/css/demo.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/CircularNavigation/css/normalize.css' %}"/>
<script src="/static/socialcircle/CircularNavigation/js/modernizr-2.6.2.min.js"></script>

<body>
<div class="container">
    <section id="left">
        <div class="sidebar pure-u-1 pure-u-md-1-4" >

            <div class="dash-home">

                <form  method="POST">
                    {% csrf_token %}
                    <a href="{% url 'socialcircle:profile' scuser_id=user.pk %}">
                        <img src="/static/socialcircle/images/profile.png" style="width: 48px;height: 48px;">
                    </a>
                    <input type="image" src="/static/socialcircle/images/logout.png" name="logout" value="Logout" style="width: 48px;height: 48px;">
                </form>

            </div>

            <center>
                    <a href="{% url 'socialcircle:profile' scuser_id=user.pk %}">
                        <img src=" /static/{{ scuser.profile_image.url }}" class="circular"
                             style="width: 220px;height: 220px;cursor: hand">

                    </a>
                <label class="name_style">{{scuser.first_name | capfirst }} {{scuser.last_name | capfirst }}</label><br>

                <label class="name_style" style="font-size: 10px">Insert possible friends here</label>
            </center>

        </div>
    </section>
    <div class="content">
        <div id="posts" style="z-index: 0;">
            {% for p,u in post %}
                {% if p.post_type == 'is_text' %}
                    <div class="post">
                        <div class="entry" >
                            <div style="margin-bottom: -3px;">
                                <div class="quote">
                                    <a href="{% url 'socialcircle:profile' scuser_id=u.pk %}"><p style="font-size:30px;font-family:georgia;">{{ u.username }}</p></a><br><br>
                                    {{ p.content }}<br>
                                    <br>
                                </div>
                            </div>
                            <div class="options">
                                <form  method="POST">
                                    {% csrf_token %}
                                        {% if p.id in post_liked %}
                                            <input type="image" src="/static/socialcircle/images/unlike.png" name="unlike_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                        {% else %}
                                            <input type="image" src="/static/socialcircle/images/like.png" name="like_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                        {% endif %}
                                        <input type="image" src="/static/socialcircle/images/sh.png" name="share" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                </form>

                            </div>
                        </div>
                        <div class="stats">
                            {{ p.post_date }}
                        </div>
                    </div>
                {% elif p.post_type == 'is_photo' %}
                    <div class="post">
                        <div class="entry" >
                            <div style="margin-bottom: -3px;">
                                <div class="photo">
                                    <a href="{% url 'socialcircle:profile' scuser_id=u.pk %}"><p style="font-size:30px;font-family:georgia;">{{ u.username }}</p></a><br><br>
                                    <img src="/static/{{ p.file }}">
                                    <p style="font-size: 15px">{{ p.content }}</p>

                                    <br><br>
                                </div>
                            </div>
                            <div class="options">
                                <form  method="POST">
                                    {% csrf_token %}
                                        {% if p.id in post_liked %}
                                            <input type="image" src="/static/socialcircle/images/unlike.png" name="unlike_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                        {% else %}
                                            <input type="image" src="/static/socialcircle/images/like.png" name="like_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                        {% endif %}
                                        <input type="image" src="/static/socialcircle/images/sh.png" name="share" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                </form>

                            </div>
                        </div>
                        <div class="stats">
                            {{ p.post_date }}
                        </div>
                    </div>
                {% elif p.post_type == 'is_video' %}
                    <div class="post">
                        <div class="entry" >
                            <div style="margin-bottom: -3px;">
                                <div class="photo">
                                    <a href="{% url 'socialcircle:profile' scuser_id=u.pk %}"><p style="font-size:30px;font-family:georgia;">{{ u.username }}</p></a><br><br>


                                    <center>
                                        <video width="350" controls>
                                          <source src="/static/{{ p.file }}" type="video/mp4">
                                          Your browser does not support HTML5 video.
                                        </video>
                                    </center>

                                    <p style="font-size: 15px">{{ p.content }}</p>

                                    <br>
                                </div>
                            </div>
                            <div class="options">
                                <form  method="POST">
                                    {% csrf_token %}
                                        {% if p.id in post_liked %}
                                            <input type="image" src="/static/socialcircle/images/unlike.png" name="unlike_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                        {% else %}
                                            <input type="image" src="/static/socialcircle/images/like.png" name="like_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                        {% endif %}
                                        <input type="image" src="/static/socialcircle/images/sh.png" name="share" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                </form>

                            </div>
                        </div>
                        <div class="stats">
                            {{ p.post_date }}
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>
    <section id="right" style="width: 30%">
        <form method="POST">
            {% csrf_token %}
            <div style="margin-left: 35px;">
                <input type = "text" name="res_user" value="insert name here" style="width: 200px;height: 30px;" class="icon">
                {% for u in unknow %}
                    <p><a href="{% url 'socialcircle:profile' scuser_id=u.pk %}">{{ u.username }}</a></p>
                {% endfor %}
            </div>
        </form>
    </section>
    <div class="component">
            <!-- Start Nav Structure -->
            <button class="cn-button" id="cn-button">+</button>
                <div class="cn-wrapper" id="cn-wrapper">
                    <form method="POST">
                     {% csrf_token %}
                    <ul>
                        <li><a><span><input type="image" src="/static/socialcircle/images/chat_small.png"
                                name="chats" value="chats"></span></a></li>
                        <li><a href="#videoPost"><span><img src="/static/socialcircle/images/video_small.png"></span></a></li>
                        <li><a href="#textPost"><span><img src="/static/socialcircle/images/text_small.png" ></span></a></li>
                        <li><a href="#photoPost"><span><img src="/static/socialcircle/images/camera_small.png"></span></a></li>
                        <li><a><span><input type="image" src="/static/socialcircle/images/logout_small.png"
                            name="logout_menu" value="logout_menu"></span></a></li>
                    </ul>
                    </form>
                </div>
            <div id="cn-overlay" class="cn-overlay"></div>
                        <!-- End Nav Structure -->
    </div>
    <div id="textPost" >
        <center>
            <br><br>
            <p><label class="name_style"> Insert a post </label></p>
            <br><br><br><br>

            <form  action="{% url 'socialcircle:dash' scuser_id=user.pk %}" method="POST">
                {% csrf_token %}
                <textarea name="text_post" value="" style="width: 80%;height: 100px"></textarea>

                <p>
                    <br><br>
                    <input type = "submit" name="submit_text" value = "Submit" >
                    <a href=""> <input type = "button" name="cancel" value = "Cancel" ></a>
                </p>
            </form>
        </center>
    </div>
    <div id="cover" >
    </div>
    <div id="photoPost" >
        <center>
            <br><br>
            <p><label class="name_style"> Insert a post </label></p>
            <br><br><br><br>

            <form method="POST" action="{% url 'socialcircle:dash' scuser_id=user.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.file.errors }}
                    {{ form.file }}
                {{ form.file.errors }}
                    {{ form.content }}
                    <br><br>
                    <input type = "submit" name="submit_photo" value = "Submit" >
                    <a href=""> <input type = "button" name="cancel" value = "Cancel" ></a>
                </p>
            </form>
        </center>
    </div>
    <div id="cover" >
    </div>
    <div id="videoPost" >
        <center>
            <br><br>
            <p><label class="name_style"> Insert a post </label></p>
            <br><br><br><br>

            <form method="POST" action="{% url 'socialcircle:dash' scuser_id=user.pk %}"    enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.file.errors }}
                    {{ form.file }}
                {{ form.file.errors }}
                    {{ form.content }}

                <p>
                    <br><br>
                    <input type = "submit" name="submit_video" value = "Submit" >
                    <a href=""> <input type = "button" name="cancel" value = "Cancel" ></a>
                </p>
            </form>
        </center>
    </div>
    <div id="cover" >
    </div>
</div>
    <script src="/static/socialcircle/CircularNavigation/js/polyfills.js"></script>
    <script src="/static/socialcircle/CircularNavigation/js/demo1.js"></script>

</body>