{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/table.css' %}" />



<body>

    <div class="sidebar">
        <div class="dash-home">
            <form method="POST">
                {% csrf_token %}
                <input type="image" src="/static/socialcircle/images/back.png" name="back" value="Back" style="width: 48px;height: 48px;">
            </form>
        </div>
        <div class="header">
            <h1>{{ scuser.username }}'s friends</h1>
        </div>
    </div>
    <div class="content" style="margin-top: 5%">

        <table class="rounded" >
        <tr>
            <th>Link</th>
            <th>Username</th>
            <th>Real Name</th>
            <th>email</th>
        </tr>
        {% for friend in friends %}
            <tr>
                <td>
                    <a href="/socialcircle/profile/{{ friend.id }}/"  >
                        <img src="/static/{{ friend.profile_image.url }}" style="width: 80px;height: 80px;border-radius: 50%;">
                    </a>
                </td>
                <td>
                    {{ friend }}
                </td>
                <td>
                    {{ friend.first_name }} {{ friend.last_name }}
                </td>
                <td>
                    {{ friend.email }}
                </td>

            </tr>

        {% endfor %}
        </table>

    </div>

</body>





