{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/Posts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/gallery.css' %}" />



<body>

    <div class="sidebar">
        <div class="dash-home">
            <form method="POST">
                {% csrf_token %}
                    <input type="image" src="/static/socialcircle/images/back.png" name="back" value="Back" style="width: 48px;height: 48px;">
            </form>
        </div>
        <div class="header">
            {% if fl_p  %}
                <h1>Photo Gallery</h1>
            {% else %}
                <h1>Video Gallery</h1>
            {% endif %}
        </div>
    </div>

    <div class="content">

        {% if fl_p  %}


            <div class="container" id="container">
                <div class="gallery">

                    {% for p in post %}

                        {% if p.post_type == 'is_photo' %}
                            <a tabindex="1"><img src="/static/{{ p.file }}"></a>
                        {% endif %}
                    {% endfor %}

                    <span class="close"></span>
                </div>
            </div>

            {% else %}
                <div class="container" id="container" style="width: 800px;">

                        {% for p in post %}
                            {% if p.post_type == 'is_video' %}
                                    <video width="250px" height="150px" controls>
                                        <source src="/static/{{ p.file }}" type="video/mp4">
                                        Your browser does not support HTML5 video.
                                    </video>
                            {% endif %}
                        {% endfor %}

                        <span class="close"></span>

                </div>


            {% endif %}



    </div>



</body>