{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/Posts.css' %}" />

<div class="sidebar">
    <div class="dash-home">
        <form method="POST">
            {% csrf_token %}
                <input type="image" src="/static/socialcircle/images/back.png" name="back" value="Back" style="width: 48px;height: 48px;">
        </form>
    </div>
    <div class="header">
        <h2>POSTS YOU LIKED</h2>
    </div>
</div>

<div class="content">
    <form  method="POST">
    {% csrf_token %}
        <div id="posts" style="margin-top: 5%">
            {% for i in post_liked %}
                {% if i.like_post.post_type == 'is_text' %}
                    <div class="post">
                        <div class="entry">
                            <div style="margin-bottom: -3px;">
                                <div class="quote">
                                    {{ i.like_post.content }}
                                </div>
                            </div>
                            <div class="options">
                                <input type="image" src="/static/socialcircle/images/unlike.png" name="unlike_post" value="{{ i.like_post.id }}" style="width: 15px;height: 15px;">
                            </div>
                        </div>
                        <div class="stats">
                            Liked on {{ i.like_date }}
                        </div>
                    </div>
                {% elif i.like_post.post_type == 'is_photo' %}
                    <div class="post">
                        <div class="entry">
                            <div style="margin-bottom: -3px;">
                                <div class="photo">
                                    <img src="/static/{{ i.like_post.file }}">
                                    <p style="font-size: 15">{{ i.like_post.content }}</p>

                                    <br><br>
                                </div>
                            </div>
                            <div class="options">
                                <input type="image" src="/static/socialcircle/images/unlike.png" name="unlike_post" value="{{ i.like_post.id }}" style="width: 15px;height: 15px;">
                            </div>
                        </div>
                        <div class="stats">
                            Liked on {{ i.like_date }}
                        </div>
                    </div>
                {% elif i.like_post.post_type == 'is_video' %}
                    <div class="post">
                        <div class="entry">
                            <div style="margin-bottom: -3px;">
                                <div class="photo">

                                    <center>
                                        <video width="350" controls>
                                          <source src="/static/{{ i.like_post.file }}" type="video/mp4">
                                          Your browser does not support HTML5 video.
                                        </video>
                                    </center>

                                    <p style="font-size: 15">{{ i.like_post.content }}</p>
                                    <br>
                                </div>
                            </div>
                            <div class="options">
                                <input type="image" src="/static/socialcircle/images/unlike.png" name="unlike_post" value="{{ i.like_post.id }}" style="width: 15px;height: 15px;">
                            </div>
                        </div>
                        <div class="stats">
                            Liked on {{ i.like_date }}
                        </div>
                    </div>
                {% else %}

                {% endif %}

            {% endfor %}
        </div>
    </form>
</div>