{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />


<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        <h1>THIS IS A TEST</h1>

        {% for i in scuser.user.all %}
            <a href="/socialcircle/profile/{{ i.id }}/"  >{{ i }}</a>
        {% endfor %}

        <p>Insert possible friends here</p>

    </div>
</div>

<div class="content">
    <div class="banner">
        <center>

        <h1>{{scuser.first_name }} {{scuser.last_name }}</h1>
        <img class="circular" src="/static/socialcircle/images/unknow_user.jpg">

        <p>{{ scuser.birth_date }} | {{ scuser.address }}</p>

        <form  method="POST">
            {% csrf_token %}
            <input type="image" src="/static/socialcircle/images/camera.png" name="photos" value="Photos">
            <input type="image" src="/static/socialcircle/images/video.png" name="videos" value="Videos">
            <input type="image" src="/static/socialcircle/images/heart.png" name="likes" value="Likes">
            <input type="image" src="/static/socialcircle/images/settings.png" name="settings" value="Settings">
        </form>


        </center>
    </div>


    {% for i in scuser.post_set.all %}
        <p> {{ i }} | category : {{ i.post_cat }} </p>

    {% endfor %}



</div>

