{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />



<h1>{{scuser.first_name }} {{scuser.last_name }}</h1>

<form  method="POST">
    {% csrf_token %}
    <input type="submit" name="photos" value="Photos">
    <input type="submit" name="videos" value="Videos">
    <input type="submit" name="likes" value="Likes">
    <input type="submit" name="settings" value="Settings">
</form>

<div class="circular" style = 'background-image: url(https://avatars2.githubusercontent.com/u/11322190?v=3&s=460)'></div>





