{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/Posts.css' %}" />

<body>

<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="dash-home">
        <form  method="POST">
            {% csrf_token %}
            <input type="image" src="/static/socialcircle/images/home.png" name="home" value="Home" style="width: 48px;height: 48px;">
            <input type="image" src="/static/socialcircle/images/logout.png" name="logout" value="Logout" style="width: 48px;height: 48px;">
        </form>
    </div>


    <div style="text-align:right;margin-right:5%;margin-top: 40%" >
        {% if scuser.user_bio != "" %}
            <h2>Biography</h2>
            <p>{{ scuser.user_bio }}</p>
        {% endif %}

        <h3>Friends</h3>
        <form  method="POST">
        {% csrf_token %}
            {% for i in three %}
                <a href="/socialcircle/profile/{{ i.id }}/"  > <img src="/static/{{ i.profile_image.url }}"  style="width: 48px;height: 48px;border-radius: 50%;"></a>
            {% endfor %}
            <input type="image" src="/static/socialcircle/images/friends.png" name="all_friends" value="All_friends" style="width: 48px;height: 48px;">
        </form>

        <h3>Wanna add new friends?</h3>

        <p>Insert possible friends here</p>

    </div>
</div>

<div class="content">
    <div class="banner">
        <center>

        <h1>{{scuser.first_name }} {{scuser.last_name }}</h1>
        <img class="circular" src=" /static/{{ scuser.profile_image.url }}" >


        <p>{{ scuser.birth_date }} | {{ scuser.address }}</p>

        <form  method="POST">
            {% csrf_token %}
            <input type="image" src="/static/socialcircle/images/camera.png" name="photos" value="Photos">
            <input type="image" src="/static/socialcircle/images/video.png" name="videos" value="Videos">

            {% if scuser.id == curr_user.id %}
                <input type="image" src="/static/socialcircle/images/heart.png" name="likes" value="Likes">
                <input type="image" src="/static/socialcircle/images/settings.png" name="settings" value="Settings">
            {% else %}
                {% if scuser.id in friends %}
                    <input type="image" src="/static/socialcircle/images/del_friend.png" name="del_friend" value="{{ scuser.id }}">
                {% else %}
                    <input type="image" src="/static/socialcircle/images/add.png" name="add_friend" value="{{ scuser.id }}">
                {% endif %}
                <input type="image" src="/static/socialcircle/images/chat.png" name="chat" value="{{ scuser.id }}">

            {% endif %}


        </form>


        </center>
    </div>


    <div id="posts" style="margin-top: 50%">

            {% for p in post %}
                {% if p.post_type == 'is_text' %}
                    <div class="post">
                        <div class="entry" >
                            <div style="margin-bottom: -3px;">
                                <div class="quote">
                                    {{ p.content }}
                                </div>
                            </div>
                            <div class="options">
                            <form  method="POST">
                                {% csrf_token %}
                                {% if p.id in post_liked %}
                                    <input type="image" src="/static/socialcircle/images/unlike.png" name="unlike_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                    {% else %}
                                    <input type="image" src="/static/socialcircle/images/like.png" name="like_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                {% endif %}
                                {% if scuser.id == curr_user.id %}
                                    <input type="image" src="/static/socialcircle/images/delete.png" name="delete_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                {% else %}
                                    <input type="image" src="/static/socialcircle/images/sh.png" name="share" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                {% endif %}

                            </form>
                            </div>
                        </div>
                        <div class="stats">
                            Posted on {{ p.post_date }}
                        </div>
                    </div>

                {% elif p.post_type == 'is_photo' %}
                    <div class="post">
                        <div class="entry" >
                            <div style="margin-bottom: -3px;">
                                <div class="photo">

                                    <img src="/static/{{ p.file }}">
                                    <p style="font-size: 15px">{{ p.content }}</p>
                                    <br><br>

                                </div>
                            </div>
                            <div class="options">
                            <form  method="POST">
                                {% csrf_token %}
                                {% if p.id in post_liked %}
                                    <input type="image" src="/static/socialcircle/images/unlike.png" name="unlike_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                    {% else %}
                                    <input type="image" src="/static/socialcircle/images/like.png" name="like_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                {% endif %}
                                {% if scuser.id == curr_user.id %}
                                    <input type="image" src="/static/socialcircle/images/delete.png" name="delete_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                {% else %}
                                    <input type="image" src="/static/socialcircle/images/sh.png" name="share" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                {% endif %}


                            </form>
                            </div>
                        </div>
                        <div class="stats">
                            Posted on {{ p.post_date }}
                        </div>
                    </div>

                {% elif p.post_type == 'is_video' %}
                    <div class="post">
                        <div class="entry" >
                            <div style="margin-bottom: -3px;">
                                <div class="photo">

                                    <br>
                                    <center>
                                        <video width="350" controls>
                                          <source src="/static/{{ p.file }}" type="video/mp4">
                                          Your browser does not support HTML5 video.
                                        </video>
                                    </center>
                                    <p style="font-size: 15px">{{ p.content }}</p>

                                    <br>

                                </div>
                            </div>
                            <div class="options">
                            <form  method="POST">
                                {% csrf_token %}
                                {% if p.id in post_liked %}
                                    <input type="image" src="/static/socialcircle/images/unlike.png" name="unlike_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                    {% else %}
                                    <input type="image" src="/static/socialcircle/images/like.png" name="like_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                {% endif %}
                                {% if scuser.id == curr_user.id %}
                                    <input type="image" src="/static/socialcircle/images/delete.png" name="delete_post" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                {% else %}
                                    <input type="image" src="/static/socialcircle/images/sh.png" name="share" value="{{ p.id }}" style="width: 15px;height: 15px;">
                                {% endif %}


                            </form>
                            </div>
                        </div>
                        <div class="stats">
                            Posted on {{ p.post_date }}
                        </div>
                    </div>
                {% endif %}



            {% endfor %}

    </div>



</div>

</body>