{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />

<style>
    body {
        background-image: url(https://putyourheartonpaper.files.wordpress.com/2015/01/circle-of-life.jpg);
}
    h1 {
        color: greenyellow;
        font-family: "Great Vibes", cursive;
        font-size: 50px;
        font-weight: normal;
        margin-bottom: 0px;
        margin-top:40px;
        text-align: right;
        text-shadow:0 1px 1px #fff;
}
</style>

<h1>Sign in</h1>

<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Save" />
</form>
