{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />


<html>
	<head>
		<script type="text/javascript">
			var totalCount = 7;
			function ChangeIt()
			{
                var num = Math.ceil( Math.random() * totalCount );
                document.body.background = '/static/socialcircle/images/bg_images/'+ num+'.jpg';
                document.body.style.backgroundSize = "cover";// Background repeat

			}
		</script>
	</head>
<body>



    <form method="POST">
        {% csrf_token %}

        <section id="left">
        <h1>Sign in</h1>
        <br><br><br><br><br><br><br><br>
        <div class="circular_small">
            <br>
            {% if form.first_name.errors %}
                <label style="color: red">First name missed</label>
            {% else %}
                <label> First name</label>
            {% endif %}
            {{ form.first_name }}<br>

            {% if form.last_name.errors %}
                <label style="color: red">Last name missed</label>
            {% else %}
                <label> Last name</label>
            {% endif %}
            {{ form.last_name }}<br>
        </div>
        <div class="circular_small">
            <br>
            {% if form.username.errors %}
                <label style="color: red">Username missed</label>
            {% else %}
                <label>Username</label>
            {% endif %}
            {{ form.username }}<br>

            {% if form.password.errors %}
                <label style="color: red">Password missed</label><br>
            {% else %}
                <label>Password</label><br>
            {% endif %}
            {{ form.password }}<br>
        </div>
        </section>
        <section id="center" >
            <br><br><br><br>
            <input class="menu" type="submit" value="Save" style="margin-right: auto;margin-left: auto;width: 150px;
            height: 150px;"/>
        </section>

        <section id="right">
        <br><br><br><br><br><br><br><br>
        <div class="circular_small">
            <br>
            {% if form.email.errors %}
                <label style="color: red">Email missed</label><br>
            {% else %}
                 <label>Email</label><br>
            {% endif %}
            {{ form.email }}

            {% if form.birth_date.errors %}
                <label style="color: red;">Birth_date missed</label>
            {% else %}
                <label>Birth_date</label>
            {% endif %}
            {{ form.birth_date }}
        </div>

        <div class="circular_small" style="line-height: 35px">
            <br>
            {% if form.address.errors %}
                <label style="color: red">Address missed</label><br>
            {% else %}
                <label>Address</label><br>
            {% endif %}
            {{ form.address }}<br>
            {{ form.user_bio.errors }}
            <label>Bio</label><br>
            {{ form.user_bio }}
        </div>
        </section>
    </form>

</body>
	<script type="text/javascript">
		ChangeIt();
	</script>
</html>

