{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'socialcircle/Posts.css' %}" />


<body>

    <div class="sidebar">
        <div class="dash-home">
        </div>
        <div class="header">
            <h1>Modify your personal information</h1>
        </div>
    </div>
    <div class="content">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Save" />
        </form>
    </div>

</body>





