.circular {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    float: right;
}
.circular_small {
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-color: antiquewhite;
    width: 220px;
    height: 220px;
    line-height: 30px;
    float: none;
    text-align: center;
}

@media (min-width: 48em) {
    .content {
        margin-left: 25%;
    }

    .banner {
        margin-bottom: 30%;
        width: 100%
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
.sidebar {
    background-color: greenyellow;
}

.banner{
    background-color: khaki;
}
.menu {
    display:block;
    width:220px;
    height:220px;
    border-radius:50%;
    font-size:20px;
    color:black;
    line-height:100px;
    text-align:center;
    text-decoration:none;
    background-color: antiquewhite}
.menu:hover{
    color:#ccc;
    text-decoration:none;
    background:#333}
