table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    font-family: georgia;
    border-radius: 25px;

}

th {
    height: 50px;
    text-align: center;
    background-color: coral;
    color: white;
    font-size: 25px;
}

td {
    height: 50px;
    background-color: peachpuff;
    padding: 15px;
    font-size: 20px;
    border-bottom: 1pt solid coral;
}

.rounded {
  border-radius: 15px;
  -moz-border-radius: 15px
  -webkit-border-radius: 15px;
  overflow: hidden; /*notice*/
}